/* @font-face {
  font-family: "admin-login-font";
  src: url("../src/asserts/fonts/Pigiarniq_Bold.ttf");
} */

html{
  overflow-x: hidden;
}
body {
  font-family: 'Helvetica Neue';
  margin: 0px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
